
# Checkpoints de Jupyter
.ipynb_checkpoints/

# Archivos compilados de Python
__pycache__/
*.pyc

# Archivos de entorno
.env


# Archivos de datos
*.parquet

venv


*.sqlite3
*.keras
*.ipynb_checkpoints
*node_modules

